.header {
  background-color: var(--dark-purple);
  color: var(--white);
  width: 100%;
  position: relative;
  padding-top: 3.6rem;
  padding-bottom: 5.375rem;
}
.header > * {
  z-index: 5;
}

.header::after {
  content: "";
  width: 100%;
  height: 15rem;
  position: absolute;
  background-color: var(--dark-purple);
  bottom: -2rem;
  left: 0;
  border-radius: 0% 0% 50% 50% / 0% 0% 100% 100%;
  scale: 2;
  z-index: 1;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  flex-shrink: 0;
}

.hero-content {
  margin-inline: auto;
  margin-top: 4rem;
  width: 40rem;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  align-items: center;
  text-align: center;
  position: relative;
}

.hero-img {
  position: absolute;
  left: calc(50% + 2.525rem);
  bottom: -28rem;
  transform: translateX(-50%);
}
.bg-pattern {
  z-index: 5;
  position: absolute;
}
.bg-pattern_1 {
  width: 20rem;
  height: 20rem;
  left: -8rem;
  top: 10rem;
  background: url(./assets/images/bg-pattern-1.svg) no-repeat;
}
.bg-pattern_2 {
  width: 12rem;
  height: 12rem;
  right: -4rem;
  top: 20rem;
  background: url(./assets/images/bg-pattern-2.svg) no-repeat;
}
.bg-pattern_3 {
  width: 15rem;
  height: 15rem;
  right: 4.54rem;
  bottom: -6rem;
  background: url(./assets/images/bg-pattern-3.svg) no-repeat;
}
.features {
  padding-block: 30rem 0rem;
  background-color: var(--ghost-white);
  color: var(--dark-purple);
  position: relative;
}
.features > * {
  z-index: 5;
}
.features::after {
  background-color: var(--ghost-white);
  content: "";
  width: 100%;
  height: 15rem;
  z-index: 2;
  position: absolute;
  bottom: -2rem;
  border-radius: 0 0 50% 50%/ 0 0 100% 100%;
  transform: scale(2);
}
.number-box {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  border: 1px solid var(--dark-purple);
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.667;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  font-family: fraunces;
}

.features-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.63rem;
}
.feature-box {
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
  justify-content: center;
  align-items: center;
}
.feature-info {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1.75rem;
}

/* Founder section */

.founder {
  padding: 16.8rem 0 0;
  background-color: var(--white);
}
.founder .container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.founder-content {
  width: 100%;
  height: 40rem;
  position: relative;
  /* border: 1px solid red; */
}

.founder-img {
  position: absolute;
  height: 30rem;
  width: 30rem;
}
.founder-info {
  width: 46rem;
  background-color: var(--dark-purple);
  color: var(--white);
  padding: 4rem 5rem 4rem 4rem;
  position: absolute;
  right: 0;
  bottom: 0rem;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-block: 7.5rem 6.88rem;
}
.footer-content {
  width: 10rem;
  height: 10rem;
  display: flex;
  flex-direction: column;
  gap: 3.6rem;
  align-items: center;
  justify-content: center;
}
.footer-logo {
  width: 6rem;
}
.socials {
  display: flex;
  gap: 1.75rem;
}
.social-icon {
  width: 1.25rem;
  height: 1.25rem;
  cursor: pointer;
  transition: all 0.4s ease;
}

.social-icon:is(:hover, :focus) {
  fill: #24053e;
}

/* ====================================   ========= Media Queries ===========
======================================= */

@media screen and (max-width: 960px) {
  .header {
    padding-top: 2.3rem;
    padding-bottom: 2.5rem;
  }
  .header::after {
    height: 10rem;
  }

  .hero-img {
    max-width: 30rem;
    bottom: -20rem;
  }
  .hero-content {
    width: 30rem;
  }

  .bg-pattern_1 {
    left: -14rem;
    top: 7rem;
  }
  .bg-pattern_2 {
    right: -7rem;
    top: 15rem;
  }

  /* Features Section */
  .features {
    padding-block: 21rem 0rem;
  }
  .features::after {
    height: 10rem;
  }
  .features-content {
    flex-direction: column;
  }
  .feature-box {
    flex-direction: row;
    gap: 2rem;
  }
  .feature-info {
    text-align: left;
    gap: 1rem;
  }
  .number-box {
    width: 3rem;
    height: 3rem;
  }
  .features-content {
    gap: 3rem;
  }

  /* founder section  */
  .founder {
    padding: 16.5rem 0 0;
  }
  .founder-img {
    width: 16.5rem;
    height: 16.5rem;
  }
  .founder-info {
    width: 32rem;
    padding: 3.5rem 3.25rem 2rem 3.5rem;
    gap: 1.5rem;
  }
  .bg-pattern_3 {
    right: -1rem;
    bottom: -9rem;
  }
  .founder-content {
    height: 32.875rem;
  }
  .footer {
    padding-block: 5rem 7.6rem;
  }
}
@media screen and (max-width: 620px) {
  .header {
    padding-bottom: 3.125rem;
  }
  .header::after {
    height: 5rem;
  }
  .hero-img {
    max-width: 18.65rem;
    bottom: -14rem;
    left: calc(45% + 2.525rem);
  }
  .hero-content {
    width: 21rem;
  }

  .bg-pattern {
    display: none;
  }
  .features {
    padding-block: 15.3rem 0rem;
  }
  .features::after {
    height: 5rem;
  }
  .feature-box {
    flex-direction: column;
  }
  .feature-info {
    text-align: center;
    gap: 1rem;
  }
  .features-content {
    gap: 2.5rem;
  }

  .founder-content {
    height: 37.6rem;
  }

  .founder-info {
    width: 100%;
    padding: 2rem;
    gap: 0;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .founder-img {
    left: 50%;
    transform: translateX(-50%);
  }
  .founder-info p {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
  }
  .footer {
    padding-block: 4.6rem 4rem;
  }
  .founder {
    padding: 11rem 0 0;
  }
}
